#frame {
    display: block;
    max-width: 90vw;
    max-height: 80vh;
}

.progressBar {
    width: 90vw;
    height: 5vh;
    margin-bottom: 20px;

    background-color: rgb(255, 255, 255);
    border: 3px solid black;
    border-radius: 20px;
    overflow: hidden;
}

.progressBar>div {
    height: 100%;
    width: 100%;

    position: relative;
    left: calc(var(--progress) - 100%);
    top: 0;

    --color: rgb(27, 143, 169);
    --backgroundColor: rgb(153, 212, 225);

    background-image: repeating-linear-gradient(-45deg, var(--color), var(--color) 5px, var(--backgroundColor) 5px, var(--backgroundColor) 10px);
    background-size: 250% 250%;
    animation: moving 120s linear infinite;

    transition: left 0.5s ease;
}

@keyframes moving {
    0% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}